<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            
        </style>
    </head>
    <body>
        <h1>Welcom to this page</h1>
        <p>Sign up</p>
        
        <form action="/signup" method="POST"> 
        <!--form tag method:post!!! -->
            ID:<input type="text" name="userID1">
            pass:<input type="password" name="userPass">
            <input type="submit" value="Sign up">
        </form>
        
    </body>
</html>